*{
    margin-top: 0px;
    padding: 0px;
    border-top: none;
}

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
main{
    background-color: #f5f7ff;
}
/* shared style */
.text-primary{
    color: #4E47FF;
     
}
.dark1{
    color: #252432;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 5px;
}
.header{
    background-image: url('Assets/Hero-bg.png');
    height: 698px;
    text-align: center;
    align-items: center;
}

.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;

}
.action-desccription{
    font-size: 24px;
    font-weight: 400;
    color: #252432;
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
    margin-top: 0px;
    
}
    .nav-title{
    color: #4E47FF;
    font-weight:900;
    font-size: 34px;
}
nav a{
    font-size: 16px;
    font-weight: bold;
}

/* banner styles */
.banner-title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
.banner{
   
   
    }

    .action-section{
        display: flex;
        justify-content: space-between;
    }
.img-action{
   border-radius: 50px;
}
.one{
    margin: 150px 116px;
    
}
.action{
    margin-top: 62.5px;
    margin-bottom: 62.5px;
}

/* /section two */
.two{
   margin: 116px 150px 137px 150px;
   padding: 80px 50px;
   background-color:#E7E9FD;
   border-radius: 24px;
}
.two-text{
    color: #252432;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    
}
.number-list{
        display: flex;
        justify-content: space-around;
}
.about-numbers{
      
}
.number{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}
.short-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
    
}

/* section three */
.three{
        margin: 0px 150px 142px 150px ;
        background-color: #FFFFFF 100%;
}
.three-text{
    font-size: 42px;
    font-weight: bold;
    color:#252432 ;
    text-align: center;
}
.boxs{
    display: flex;
    justify-content: space-around;
    gap: 20px;
  
}
.box{
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background-color: rgba(255, 255, 255, 1);
}
.stars{
        font-size: smaller;
}
.bold{
    
}
.cmnt{

}

.low-part{
    display: flex;
    justify-content:left;
    align-items: center;
    text-align: left;
    gap: 12px;
    

}
.low-img{
    border-radius: 50%;
}
.low-text{
    
}

.low-text-head{
    font-size: 14px;
    color: #757575;
}
.low-text-para{
    font-size: 12px;
    color: #B3B3B3;
}

/* section four  */
.four{
    
    text-align: center;
    align-items: center;
    margin:0px 150px 150px 0px;
    padding: 71px 150px;
    background-color: #FFFFFF;
}
.four-head{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    }

.four-p{
    font-size: 16px;
    font-weight: 140;
    color: rgba(0, 0, 0, 0.5) 50%;
}
.img-four{
    margin-top: 40px;
    display: flex;
    align-items: center;
    border-radius: 48px;
    margin: auto;
    
}
.btn-four{
    margin-bottom: 20px;
}

/* section five */
.five{
    display: flex;
    align-items: center;
    gap: auto;
    justify-content: space-between;
    margin: 83px 150px 19px 150px;
    padding: 71px 0px;
}  
  label{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 100px;
  }
.five-heading{
    
    width: 50%;
    font-size: 97px;
    font-weight: bold;
}


main input[type="text"],main input[type="email"],main textarea{
    height: 70px;
    width: 497px;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding:  20px 32px;
    margin-bottom: 50px;
    border: none;
    margin-top: 10px;
}
::placeholder {
  
  font-family: Inter;
  font-size: 20px;
  font-weight: normal;
  
}

/* footer styles */
.foot-logo{
    font-size: 100px;
    font-weight: bolder;
    margin: 10px;
}
footer{
    text-align: center;
    margin: 104px 455px 103px 456px;

}
.foot-para{
        font-family: Inter;
        font-size: 12px;
        color: #8987A1;
}
footer ul{
    display: flex;
    justify-items: center;
    align-items: center;
}

footer ul li {
    list-style: none;
    margin-right: 50px;
    

}
footer li a {
    text-decoration: none;
    font-size: 12px;
    font-family: Inter;
    color: #8987A1;
}
.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}